# Fichiers système Mac
.DS_Store
.AppleDouble
.LSOverride

# Fichiers système Windows
Thumbs.db
ehthumbs.db

# Editeurs
.vscode/
.idea/
*.swp
*.swo

# Dépendances (pour le futur)
node_modules/
package-lock.json

# Logs
npm-debug.log*
yarn-debug.log*
error.log
